@font-face {
  font-family: "Bogle";
  src: url("./assets/fonts/Bogle/Bogle-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Bogle-bold";
  src: url("./assets/fonts/Bogle/Bogle-Bold.otf");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Bogle", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.align-center {
  text-align: center;
}
.main-heading {
  font-weight: 100;
  font-family: "Bogle", sans-serif !important;
  font-size: 48px !important;
  max-width: 600px;
  margin: 0 auto 50px !important;
}
.extra-large {
  font-size: 65px !important;
  max-width: 700px;
}
button {
  border-radius: 20px;
}

a.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-outlinedSizeLarge.MuiButton-sizeLarge {
  margin-right: 20px;
}
.back-next-button {
  margin: 20px auto;
}
.back-button {
  border-radius: 20px;
}
.next-button {
  border-radius: 20px;
}
.navbar-component {
  margin-top: 30px;
}
.visit-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 850px;
  float: none;
  margin: 0 auto;
  padding: 50px 0;
}
.visit-block {
  width: 300px;
  padding: 30px 20px;
  border: 2px solid lightblue;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: none;
  margin: 5px;
}
.visit-block:hover {
  box-shadow: 0px 0px 0px 5px #337cf6;
  transition: 300ms;
  background: rgb(220, 243, 250);
}
.visit-block.active {
  box-shadow: 0px 0px 0px 5px #337cf6;
}
.exit-icon a:hover {
  color: #222222 !important;
  transition: 200ms;
}
